<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDeviceManagementInterface" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8089/ManagementService.svc/Hosting"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeviceManagementInterface"
                contract="DeviceManagerAgent.IDeviceManagementInterface" name="BasicHttpBinding_IDeviceManagementInterface" />
        </client>
    </system.serviceModel>
</configuration>