<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>
		<add name="IoTWorkNetworkConnectionString" connectionString="Server=192.168.1.76;Database=IoTWork.Network;User Id=postgres;Password=samnium;SearchPath=public;" providerName="Npgsql" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
		</providers>
	</entityFramework>
	<system.data>
		<DbProviderFactories>
			<add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql" type="Npgsql.NpgsqlFactory, Npgsql" />
		</DbProviderFactories>
	</system.data>   
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
    <add key="NetworkNumber" value="1"/>
		<add key="NetworkBaseName" value="Network"/>
    <add key="RegionPerBranch" value="5"/>
    <add key="RegionBaseName" value="Region"/>
    <add key="DataServerBaseName" value="DS"/>
    <add key="ManagementServerBaseName" value="MS"/>
    <add key="RingPerBranch" value="1"/>
    <add key="RingBaseName" value="Ring"/>
    <add key="DevicePerBranch" value="5"/>
    <add key="DeviceBaseName" value="Device"/>
    <add key="ChainPerDevice" value="4"/>
    <add key="ChainBaseName" value="Chain"/>
    <add key="SensorBaseName" value="Sensor"/>
    <add key="TriggerBaseName" value="Trigger"/>
    <add key="PipePerChain" value="2"/>
    <add key="PipeBaseName" value="Pipe"/>
    <add key="DefaultBindingPacketsThrottling" value="1"/>
    <add key="DefaultBindingPacketsMaxIntervalTimeout" value="1000"/>
  </appSettings>
</configuration>