<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INetworkManagementInterface" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8088/ManagementService.svc/Hosting"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INetworkManagementInterface"
                contract="NetworkManagerAgent.INetworkManagementInterface"
                name="BasicHttpBinding_INetworkManagementInterface" />
        </client>
    </system.serviceModel>
</configuration>